html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0
}

.container {
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 100%!important
}

.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

a {
    text-decoration: none;
}

#title {
    font-size: 35px;
}

#total {
    font-size: 25px;
    margin-left: 20px;
}

thead > tr > th:nth-child(1) {
    display: none;
}

.container > div > div > div > div > h1 {
    font-size: 22px!important;
}

#riccardo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}

#social-icon {
    height: 30px;
    width: 30px;
    margin-right: 3px;
}

.col-xs-6 > a > div > div > div:nth-child(2) > span:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis
}